@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Poppins&display=swap');

body {
  background-color: #dce4e6;
}
header {
  text-align: center;
}
#profile-wrapper {
  text-align: center;
  margin-top: 2.5em;
}
#profile-pic {
  width: 20%;
}


#name {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.1em;
}

#subtitle {
  font-family: 'Anek Malayalam', sans-serif;
  margin-top: 0.1em;

}
