@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@700&family=Manrope&family=Poppins:wght@700&family=Questrial:wght@700&display=swap');


body {
  background-color: #dce4e6;
  font-smooth: subpixel-antialiased;
}

header {
  text-align: center;
  margin-top: 2.5em;
}

#profile-wrapper {
  text-align: center;
  margin-top: 2.5em;
}

#profile-pic {
  border-radius: 50%;
  width: 10em;
}

#name {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.1em;
  font-size: 2.5em;
  font-weight: 700;
  font-style: normal;
}

#subtitle {
  font-family: 'Anek Malayalam', sans-serif;
  margin-top: 0.1em;
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
}

.icon-a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#resume {
  font-size: 1.1em;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
}

article {
  text-align: center;
  margin-top: 5em;
}

.section {
  margin-bottom: 4.5em;
}

h3 {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  margin-bottom: 0.2em;
  font-weight: 700;
  font-style: normal;
}

.body-text {
  max-width: 60%;
  margin: auto;
  font-family: 'Manrope', sans-serif;
  font-size: 1.1em;
  margin-top: 0.5em;
  font-style: normal;
}

.body-text ul {
  list-style: inside;
}

h4 {
  margin-bottom: 0;
}

.course-description {
  margin-top: 0.2em;
}

@media only screen and (max-width: 700px) {
  .body-text {
    max-width: 98%;
  }
}
