@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Manrope&family=Poppins&family=Questrial&display=swap');

body {
  background-color: #dce4e6;
}

header {
  text-align: center;
  margin-top: 2.5em;
}

#profile-wrapper {
  text-align: center;
  margin-top: 2.5em;
}

#profile-pic {
  border-radius: 50%;
  width: 10em;
}

#name {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.1em;
  font-size: 2.5em;
}

#subtitle {
  font-family: 'Anek Malayalam', sans-serif;
  margin-top: 0.1em;
  font-size: 1.5em;
}

.icon-a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#resume {
  font-size: 1.1em;
  font-family: 'Manrope', sans-serif;
}

article {
  text-align: center;
  margin-top: 5em;
}

h3 {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  margin-bottom: 0.2em;
}

.body-text {
  max-width: 50%;
  margin: auto;
  font-family: 'Manrope', sans-serif;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.body-text ul {
  text-align: left;
  max-width: 90%;
  margin: auto;
  margin-left: 2em;
}
